* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.container {
  background-color: #fff;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 40rem;
}
.header {
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 3rem;
  color: rgba(15, 12, 180, 0.575);
}
.form {
  color: rgba(0, 0, 0, 0.829);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 3rem;
}
.form-control {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-control label {
  display: inline-block;
  margin-bottom: 1rem;
}
.form-control input {
  font-family: inherit;
  font-size: 1.5rem;
  border: 4px solid rgba(128, 128, 128, 0.288);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}
input:focus {
  outline: none;
  border-color: rgba(14, 122, 247, 0.432);
}
small {
  visibility: hidden;
  margin-bottom: 1rem;
}
.btn {
  color: #fff;
  padding: 1rem;
  font-size: 1.8rem;
  outline: none;
  border-radius: 1rem;
  border: 0;
  background-color: rgba(15, 12, 180, 0.575);
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.form-control.success input {
  border-color: rgba(0, 128, 0, 0.459);
}

.form-control.error input {
  border-color: rgba(233, 34, 8, 0.534);
}

.form-control.error small {
  visibility: visible;
  color: rgba(233, 34, 8, 0.637);
}
